@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body{ /* Normal  */
  font-family: 'Lato', sans-serif;
}

pre.sourceCode{
  font-size: .8em;
}

pre > code{
  font-size: 10pt;
}

code {
  color: #1E0A6E;
}
/*
h2 {
    border-bottom: 4px solid #f7f7f7;
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 145%;
    font-style: normal;
}

h3 {
    border-bottom: 2px solid #f7f7f7;
    padding-top: 10px;
    font-size: 120%;
    font-style: normal;
}

h4 {
    border-bottom: 1px solid #f7f7f7;
    margin-left: 8px;
    font-size: 105%;
}

p {
  font-style: normal;
}

li {
  font-style: normal;
}

.sourceCode{
  font-style: normal;
  font-size: 13px;
}
*/
