# raw data files
data-raw/*.csv

# produced vignettes and related
vignettes/*.html
vignettes/*.pdf
doc
Meta

# RStudio files
.Rproj.user

# History files
.Rhistory

# Session Data files
.RData

# User-specific files
.Ruserdata

# Output files from R CMD check
/*.Rcheck/
/doc/
/Meta/
